{% extends "base/main.html.twig" %}

{% block page_title %}{{ article.getTitle() }}{% endblock %}
{% block page_keywords %}{{ article.getKeywords() }}{% endblock %}
{% block page_description %}{{ article.getShortDescription() }}{% endblock %}
{% block body_content %}
<div class="container-fluid">
  {% if article is null %}
  <h3>Cet article n'existe pas encore!</h3>
  {% else %}
  <h2>{{ article.getTitle() }}</h2>
  {% set chapter_number = 1 %}
  {% for chapter in article.getChapters() %}
  {% include 'articles/_article-chapter.html.twig' with { 'chapter': chapter, 'chapter_number': chapter_number } %}
  {% set chapter_number = chapter_number + 1 %}
  {% endfor %}
  {% endif %}
</div>
{% endblock %}
