{% extends "base/main.html.twig" %}

{% block page_title %}Edition article{% endblock %}
{% block body_content %}
<div id="article_editor" class="container-fluid">
  <div class="row">
    <h3>on the run...
  </div>
</div>
{% endblock %}
