/node_modules/
/vendor/
/logs/
!/logs/.gitkeep
/cache/
/build/
/config/.env
/public/_static/app.min.js
/public/_static/style.min.css
/public/fonts/
/public/vendor/
dbsite.sdb3
/_private/
/data/
!/data/.gitkeep
/nbproject/private/