<phpunit bootstrap="config/autoload.php" colors="true">
    <testsuite name="Decatime test suite">
        <directory>src/Org/Decatime/Test</directory>
    </testsuite>

    <logging>
        <log type="coverage-html" target="build/coverage" title="decatime coverage report"
             charset="UTF-8" yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>

    <filter>
        <whitelist processUncoveredFilesFromWhiteList="true">
            <directory suffix=".php">src/Org/Decatime</directory>
            <exclude>
                <directory suffix=".php">src/Org/Decatime/Entity</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
