{% extends "base/main.html.twig" %}

{% block page_title %}{{ page_title }}{% endblock %}
{% block body_content %}
<div class="container-fluid">
  <h2>Derniers articles</h2>
  {% for article in articles %}
    <table class="table">
        <tbody>
            <tr>
                <td>
                    image
                </td>
                <td>
                    <h4>{{ article.getTitle() }}</h4>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                <p>{{ article.getShortDescription() }}
            </td>
            </tr>
        </tbody>
    </table>
  {% endfor %}
</div>
{% endblock %}
